{% include 'overall_header.html' %}

{% INCLUDECSS '@dark1_usernotificationcontrol/dark1_unc_acp_style.css' %}
{% INCLUDEJS '@dark1_usernotificationcontrol/dark1_unc_acp_script.js' %}

<h1>{{ UNC_EXT_NAME }}</h1>
<div>{{ lang('ACP_UNC_BY') }}&nbsp;{{ UNC_EXT_DEV }}</div>
<hr class="acp-unc-hr">
<h2>{{ UNC_EXT_MODE }}</h2>

<form id="dark1_unc_acp" name="dark1_unc_acp" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('ACP_UNC_SET') }}</legend>
		<dl>
			<dt>
				<label>{{ lang('READ_NOTIFICATION_EXPIRE_DAYS') ~ lang('COLON') }}</label>
				<br>
				<div>{{ lang('ACP_UNC_READ_NOTIFICATION_NOTICE') ~ lang('COLON') }} <a href="{{ UNC_READ_EXPIRE_LINK }}">{{ lang('ACP_LOAD_SETTINGS') }}</a></div>
			</dt>
			<dd>
				<input type="number" id="unc_read_expire" value="{{ UNC_READ_EXPIRE }}" disabled readonly /> {{ lang('ACP_UNC_DAYS') }}
			</dd>
		</dl>
		<dl>
			<dt>
				<label>{{ lang('ACP_UNC_ALL_NOTIFY_EXPIRE') ~ lang('COLON') }}</label>
				<br>
				<div>{{ lang('ACP_UNC_ALL_NOTIFY_EXPIRE_EXPLAIN', lang('READ_NOTIFICATION_EXPIRE_DAYS')) }}</div>
			</dt>
			<dd>
				<input type="number" min="1" max="9999" size="3" maxlength="4" step="1" name="dark1_unc_all_notify_expire_days" value="{{ UNC_ALL_EXPIRE }}" style="width: 50px;" /> {{ lang('ACP_UNC_DAYS') }}
			</dd>
		</dl>
		<dl>
			<dt>
				<label>{{ lang('ACP_UNC_TOTAL_DAYS') ~ lang('COLON') }}</label>
				<br>
				<div>{{ lang('ACP_UNC_TOTAL_DAYS_EXPLAIN', lang('READ_NOTIFICATION_EXPIRE_DAYS'), lang('ACP_UNC_ALL_NOTIFY_EXPIRE')) }}</div>
			</dt>
			<dd>
				<input type="number" id="unc_total_expire" value="{{ UNC_TOTAL_EXPIRE }}" disabled readonly /> {{ lang('ACP_UNC_DAYS') }}
			</dd>
		</dl>
		<h4>{{ lang('ACP_UNC_STAT_TAB') ~ lang('COLON') }}</h4>
		<table class="table1 responsive">
			<thead>
				<tr>
					<th>{{ lang('ACP_UNC_STAT_NOTIFICATION') }}</th>
					<th>{{ lang('ACP_UNC_STAT_UNREAD') }}</th>
					<th>{{ lang('ACP_UNC_STAT_READ') }}</th>
				</tr>
			</thead>
			<tbody>
			{% for stat in loops.stats %}
				<tr>
					<td class="col1"><b>{{ stat.TYPE }}</b></td>
					<td class="col1">{{ stat.UNREAD }}</td>
					<td class="col1">{{ stat.READ }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_UNC_CRON_SET') }}</legend>
		<dl>
			<dt>
				<label for="dark1_unc_auto_prune_notify_enable">{{ lang('ACP_UNC_CRON_ENABLE') ~ lang('COLON') }}</label>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="dark1_unc_auto_prune_notify_enable" id="dark1_unc_auto_prune_notify_enable" value="1" {% if UNC_ENABLE_CRON %}checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="dark1_unc_auto_prune_notify_enable" id="dark1_unc_auto_prune_notify_enable" value="0" {% if not UNC_ENABLE_CRON %}checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label>{{ lang('ACP_UNC_CRON_INTERVAL') ~ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="number" min="1" max="999" size="3" maxlength="3" step="1" name="dark1_unc_auto_prune_notify_gc" value="{{ UNC_CRON_INTERVAL }}" style="width: 50px;" /> {{ lang('ACP_UNC_DAYS') }}
			</dd>
		</dl>
		<dl>
			<dt>
				<label>{{ lang('ACP_UNC_CRON_LAST_RUN') ~ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" value="{{ UNC_CRON_LAST_RUN }}" size="45" maxlength="80" disabled />
			</dd>
		</dl>
		<dl>
			<dt>
				<label>{{ lang('ACP_UNC_CRON_NEXT_RUN') ~ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" value="{{ UNC_CRON_NEXT_RUN }}" size="45" maxlength="80" disabled />
			</dd>
		</dl>
		<dl>
			<dt>
				<label>{{ lang('ACP_UNC_CRON_RUN') ~ lang('COLON') }}</label>
				<br><span class="responsive-hide">&nbsp;</span>
			</dt>
			<dd>
				<input class="button1" type="submit" name="runcrontask" value="{{ lang('ACP_UNC_CRON_RUN_NOW') }}" />
			</dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>

</form>

{% include 'overall_footer.html' %}
